@tailwind base;
@tailwind components;
@tailwind utilities;

.footer{
    background: url(../src/assets/BG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    height: 837px;
}